<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Prototype James"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrototypeTess"
        tools:targetApi="31">
        <activity
            android:name=".stentActivity"
            android:exported="false" />
        <activity
            android:name=".startStentActivity"
            android:exported="false" />
        <activity
            android:name=".startAblatieActivity"
            android:exported="false" />
        <activity
            android:name=".laterActivity"
            android:exported="false" />
        <activity
            android:name=".herhalingStentActivity"
            android:exported="false" />
        <activity
            android:name=".herhalingActivity"
            android:exported="false" />
        <activity
            android:name=".herhalingAblatieActivity"
            android:exported="false" />
        <activity
            android:name=".gesprekActivity"
            android:exported="false" />
        <activity
            android:name=".ablatieActivity"
            android:exported="false" />
        <activity
            android:name=".verpleegkundigeActivity"
            android:exported="false" />
        <activity
            android:name=".eindActivity"
            android:exported="false" />
        <activity
            android:name=".vragenActivity"
            android:exported="false" />
        <activity
            android:name=".uitlegActivity"
            android:exported="false" />
        <activity
            android:name=".keuzeBehandelingActivity"
            android:exported="false" />
        <activity
            android:name=".EindeActivity"
            android:exported="false" />
        <activity
            android:name=".BehandelingActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="false" />
        <activity
            android:name=".GevoelActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="Prototype Tess">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>